venv/
env/
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3
db.SQLITE3.sqlite3
media/
profile_images/
staticfiles/
*.log
.pytest_cache/
coverage.xml
.mypy_cache/
.vscode/
.idea/
node_modules/
*.egg-info/
